<div class="text-gray-700">
    <div class="modal-header">
      <h4 class="modal-title font-bold" id="modal-basic-title">
        Rate Merchant
        <span class="badge badge-pill bg-blue-600 text-white p-2">{{
          merchant.name
        }}</span>
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="dismissModal()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body text-gray-800">
     
    </div>
  </div>
  